# Dependencies
node_modules/
.expo/

# Environment
.env
.env.local
.env.production

# Build
dist/
build/
target/

# IDE
/.idea/
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Solana
contracts/rentsmart-escrow/target/
test-ledger/

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*